

html{
	background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("Images/background.jpg") ;
	background-size: cover;
	color: white;
	background-repeat: no-repeat;
    background-attachment: fixed;
	
}
nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #b2b2d8;
    position: fixed;
    height: 100%;
    overflow: auto;
	font-size: 150%;
	font-family: Tahoma, Geneva, sans-serif;
}

li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}
li{
	font-family: Tahoma, Geneva, sans-serif;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #ffffff;
    color: black;
}
	/* styling for the main title*/
h1{
	font-size: 40px;
	text-align: center;
	font-family: Tahoma, Geneva, sans-serif;
}
h2{
	 font-size:130%;
	  font-family: Tahoma, Geneva, sans-serif;
 }
 h3{
	 font-size:100%;
	  font-family: Tahoma, Geneva, sans-serif;
 }
 
div{
	padding-left: 20%;
	
}


 /* styling for the paragraph text */
 p{
	 font-size: 100%;
	 font-family: Tahoma, Geneva, sans-serif;
	 
 }
 
 
nav p{
	font-size: 80%;
}

nav img{
	height: auto;
	width: 20%;
	border-radius: 50%;
}



.linkedin{
	border-radius: 0%;
	width: 80%;
	height: auto;
}



figure {
  width: 280px;
  height: 280px;
  overflow: hidden;
  float: left;
}

figure img {
  width: 100%;
  background: #eee;
  margin-bottom: -4em;
  display: block;
 
}
	
/* 
  styles the figcaption element when the page first loads. The 
  `transition` property simply "prepares" the element for a style 
  transition - it does NOT trigger the transition.

  `opacity` affects the WHOLE element - at `.78` text less is harsh when
  visible. If the alpha channel of the rgba `background` transitioned 
  instead, the text would not be affected and remain 100% black.

  A `height` of `4em` and `padding` of `.25em` will fit 3 lines of text 
  with a line-height of 1.2em nicely. For more, change the values.
*/
figcaption {
  box-sizing: border-box;
  height: 4em;
  line-height: 1.2em;
  padding: .25em;
  transform: translateY(4em);
  background: #fff;
  /* background: rgba( 255, 255, 255, 0 ); */
  opacity: 0;
  transition: all .5s;
  color:black;
  font-family: Tahoma, Geneva, sans-serif;
}

/* 
  These styles are applied to the `figcaption` element when hovering 
  over the`figure` element. The `transition` property on `figcaption` 
  above is then applied to `all` these hover styles, over 0.5 seconds.
*/
figure:hover figcaption {
  transform: translateY(0em);
  /* background: rgba( 255, 255, 255, .78 ); */
  opacity: .78;
}

.mygrades{
	float: left;
	background-color: black;
	width:auto;
	padding-left: 50px;
}
 
 
 
 .slideshow {
  margin-left: 2em auto 1em;
  width: 500px; /* altering this breaks the centering??? */
  height: 400px;
  overflow: hidden;
  position: relative;
  float: left;
}

.slideshow img {
  position: absolute;
  width: 500px;
  animation: round 16s infinite;
  opacity: 0;
}

@keyframes round {
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

img:nth-child(1) { animation-delay: 8s; }
img:nth-child(2) { animation-delay: 4s; }
img:nth-child(3) { animation-delay: 0s; }


table {
    border-collapse: collapse;
    width: 50%;
	height:300px;
	background-color:black;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 150%;
}

tr:hover {
	background-color:#f5f5f5;
	color: black;
}

